#test_close_button_one {
    border-radius: var(--border_radius);
    padding: 5px;
    margin-left: auto;
}

#test_close_button_one:hover {
    background: var(--blue_prime_background_trans);
}

#test_close_button_two {
    margin: var(--margin);
}

.test_main_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    width: 150px;
    background: var(--ap_main_background);
    border-radius: var(--border_radius);
    margin: var(--margin);
}

.test_main_block:hover {
    box-shadow: 0 0 3px 2px var(--blue_prime_background_trans);
}

.test_title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--margin);
}

.test_controls_block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--margin);
}

.test_controls_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    padding: 3px;
    border-radius: var(--border_radius);
}
.test_controls_button:hover {
    background: var(--blue_prime_background_trans);
}

.test_track_list_main_block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin: 0;
    padding: 0;
}

.test_track_list_main_block  chui_playlist_list{
    margin: 0;
    padding: 0;
}

.test_track_list_main_block  chui_playlist_list chui_track:hover {
    background: var(--blue_prime_background_trans);
}

#test_dialog_pl_list_title {
    border-radius: var(--border_radius);
    padding: 5px;
}

.search_button_track {
    display: flex;
    justify-content: start;
    align-items: center;
    width: -webkit-fill-available;
    height: max-content;
    border-radius: var(--border_radius);
}

.search_button_track_cover {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: var(--border_radius);
    margin: 3px;
}

.search_button_track_title {
    margin-left: 10px;
}